<?xml version="1.0"?>
<!--
/**
 * Copyright © ict. All rights reserved.
 * https://ict.lv/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="ICT_Klar::integration" title="Klar Integration" sortOrder="100">
                    <resource id="ICT_Klar::configuration" title="Configuration" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
